{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'tailwindcss-colors.css' %}?=v26">
    <link rel="stylesheet" type="text/css" href="{% static 'chat.css' %}?=v26">
    <link rel="stylesheet" type="text/css" href="{% static 'user_profile.css' %}?=v2">
    <link rel="stylesheet" type="text/css" href="{% static 'coming_soon.css' %}?=v2">
    <title>{% block title %}Chat{% endblock %}</title>
</head>
<body data-username="{{ username }}">
    <!-- start: Chat -->
    <section class="chat-section">
        <div class="chat-container">
            <!-- start: Sidebar -->
           
            <!-- end: Sidebar -->

            <!-- start: Content -->
            <div class="chat-content">
                <!-- start: user profile -->
                <!-- From Uiverse.io by andrew-demchenk0 -->
                <div class="coming-container">

                    <div class="icon">
                        <i class="ri-chat-3-fill"></i>
                    </div>
                    <h1>Coming Soon</h1>
                    <p>
                        We are working hard to bring this feature to life.
                        Stay tuned, something amazing is coming soon!
                    </p>
                    <a href="{% url 'hellochat' %}" class="btn">
                        <i class="ri-arrow-left-line"></i>
                        Back to Chat
                    </a>
                    <div class="dots">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>
                <!-- end: user profile -->
            </div>
            <!-- end: Content -->
        </div>
    </section>
    <!-- end: Chat -->
    <script type="module" src="{% static 'js/user_profile.js' %}?v=11"></script>
</body>

</html>