{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'register.css' %}?=v6">
    <title>Document</title>
</head>
<body>
    <div class="login-form">
        <div class="text">
         SIGNUP
        </div>
        <form>
           <div class="field">
              <div class="fas fa-envelope"></div>
              <input type="text" placeholder="Email or Phone">
           </div>
           <div class="field">
              <div class="fas fa-lock"></div>
              <input type="password" placeholder="Password">
           </div>
            <div class="field">
               <div class="fas fa-lock"></div>
               <input type="password" placeholder="Confirm Password">
            </div>

           <button>SIGNUP</button>
           <div class="link">
            Already have an account?
              <a href="{%url 'hellologin'%}">Login</a>
           </div>
        </form>
     </div>
</body>
</html>